body {
    background: linear-gradient(45deg, #250101, black);
    font-family: 'Allura', cursive;
    padding: 20px;
    justify-content: center;
}

#heading {
    color: white;
    padding: 20px;
    font-size: 25px;
}
#about {
    color: white;
    padding: 10px;
    font-size: 30px;
    font-family: 'Allura', cursive;
}
#main {
    color: white;
    font-family: 'Cormorant SC', serif;
    font-size: 20px
}
#main2 {
    color: white;
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
}
#eyes1 {
    width: 150px;
}
h2 {
    color: white;
    padding-top: 30px;
}
#signature {
    width: 200px;
}
#main3 {
    color: white;
}
#journal {
    font-family: 'Allura', cursive;
}
#button {
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #080808;
    color: #fff;
    margin-bottom: 20px;
}
#button:hover {
    background-color: #060606;
}
.navbar ul {
    list-style: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Cormorant SC', serif;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
audio {
    color: #ffffff;
    background-color: #f1f2f3;
    margin-bottom: 20px;
}
audio::webkit-media-controls-panel {
    background-color: #3a0a0a;
}
audio::webkit-media-slider-thumb {
    background-color: #3a0a0a;
}